In [38]:
#Data Visualization
import pandas as pd

#load data
resume = pd.read_csv("/content/UpdatedResumeDataSet.csv")

#view all of the categories
len(resume.iloc[:, 0].unique())
#25 categories
resume.iloc[:, 0].unique()
#note that all of the categories are good, there doesnt need for there to be any
#more data marshalling for the categories
#this is why I choose this data set

array(['Data Science', 'HR', 'Advocate', 'Arts', 'Web Designing',
       'Mechanical Engineer', 'Sales', 'Health and fitness',
       'Civil Engineer', 'Java Developer', 'Business Analyst',
       'SAP Developer', 'Automation Testing', 'Electrical Engineering',
       'Operations Manager', 'Python Developer', 'DevOps Engineer',
       'Network Security Engineer', 'PMO', 'Database', 'Hadoop',
       'ETL Developer', 'DotNet Developer', 'Blockchain', 'Testing'],
      dtype=object)

In [39]:
#data clean up
#remove special characters with regular expressions
#based on: https://stackoverflow.com/questions/43358857/how-to-remove-special-characters-except-space-from-a-file-in-python
#based on: https://stackoverflow.com/questions/25292838/applying-regex-to-a-pandas-dataframe
import re

#removes special chars
def clean_chars(clean):
    return re.sub(r"[^a-zA-Z0-9]+", ' ', clean)

# test = "Details \r\nMay 2013 to May 2017 B."
# final = [re.sub(r"[^a-zA-Z0-9]+", ' ', test)]
# print(final)
#['Details May 2013 to May 2017 B ']

#need to strip trailing white spaces
resume.Resume = resume.Resume.apply(lambda x: clean_chars(x).strip())
resume.Resume

0      Skills Programming Languages Python pandas num...
1      Education Details May 2013 to May 2017 B E UIT...
2      Areas of Interest Deep Learning Control System...
3      Skills R Python SAP HANA Tableau SAP HANA SQL ...
4      Education Details MCA YMCAUST Faridabad Haryan...
                             ...
957    Computer Skills Proficient in MS office Word B...
958    Willingness to accept the challenges Positive ...
959    PERSONAL SKILLS Quick learner Eagerness to lea...
960    COMPUTER SKILLS SOFTWARE KNOWLEDGE MS Power Po...
961    Skill Set OS Windows XP 7 8 8 1 10 Database MY...
Name: Resume, Length: 962, dtype: object

In [40]:
#use underscore
resume.iloc[:, 0] = resume.iloc[:, 0].str.replace(' ', '_')
resume.iloc[:, 0] = resume.iloc[:, 0].str.lower()

In [41]:
resume.iloc[:, 0].unique()

array(['data_science', 'hr', 'advocate', 'arts', 'web_designing',
       'mechanical_engineer', 'sales', 'health_and_fitness',
       'civil_engineer', 'java_developer', 'business_analyst',
       'sap_developer', 'automation_testing', 'electrical_engineering',
       'operations_manager', 'python_developer', 'devops_engineer',
       'network_security_engineer', 'pmo', 'database', 'hadoop',
       'etl_developer', 'dotnet_developer', 'blockchain', 'testing'],
      dtype=object)

In [42]:
train_test_split = 0.5 #
train_val_split = 0.2 #
counts = resume.iloc[:,0].value_counts()
labels = ['java_developer',  
'testing',                       
'devops_engineer',             
'python_developer',         
'web_designing',        
'hr',                    
'hadoop',                  
'blockchain',                
'etl_developer',              
'operations_manager',          
'data_science',                
'sales',                        
'mechanical_engineer',           
'arts',                       
'database',                  
'electrical_engineering',        
'health_and_fitness',             
'pmo',                          
'business_analyst',             
'dotnet_developer',              
'automation_testing',           
'network_security_engineer',      
'sap_developer',                 
'civil_engineer',               
'advocate']

In [51]:
resume.head()

       Category                                             Resume
0  data_science  Skills Programming Languages Python pandas num...
1  data_science  Education Details May 2013 to May 2017 B E UIT...
2  data_science  Areas of Interest Deep Learning Control System...
3  data_science  Skills R Python SAP HANA Tableau SAP HANA SQL ...
4  data_science  Education Details MCA YMCAUST Faridabad Haryan...

In [ ]:
# import math

# df_array = pd.DataFrame()
# for i in range(len(counts)):
#   for j, k in counts.items():
#     # print(j)
#     # print(k)
#     # java_developer
#     # 84
#     # testing
#     # 70
#     counter = 0
#     for i in range(len(resume)):
#       if counter<(math.floor(k/train_test_split)):
#         df_array.append(resume.iloc[i,i])
#         counter += 1

In [52]:
#using sklearn split train instead

#based on: https://scikit-learn.org/stable/modules/generated/sklearn.model_selection.train_test_split.html

from sklearn.model_selection import train_test_split
X, y = resume['Resume'], resume['Category']
X_train, X_test, y_train, y_test = train_test_split(X, y,
                                                    stratify=y, 
                                                    test_size=0.3)
resume_train = pd.DataFrame()
resume_train['Resume'] = X_train
resume_train['Category'] = y_train

resume_test = pd.DataFrame()
resume_test['Resume'] = X_test
resume_test['Category'] = y_test